<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Drabužių kategorijos prognozė</h1>
     <h4> Įkelkite nuotraukos kelią ir pavadinimą, kaip pvz: images/32b99302-cec7-4dec-adfa-3d4029674209.jpg</h4>
     <h5>Galimos naudoti drabužių kategorijos: T-Shirt, Longsleeve, Pants, Shoes, Shirt, Dress, Outwear, Shorts, Hat, Skirt</h5>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="file" placeholder="nuotraukos pavadinimas" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Prognozuoti</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>